@import url('https://fonts.googleapis.com/css?family=Numans');
htm,body{
    height: 100%;
    font-family: 'Numans' ,sans-serif;
}
.container{
    height: 100%;
    align-content: center;
}
.card{
    height: 370px;
    margin-top: 216px;
    width: 400px;
    background-color: rgb(0,0,0,0,5) !important;
}
.social-icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #12d0ff;
}
.social-icon span:hover{
    cursor: pointer;;
    color:white;
}
.card-header h3{
    color: black;
}
.social-icon{
    position: absolute;
    right: 20px;
    top: -45px;
}
.input-group-prepend span{
    width: 50px;
    background-color: #12d0ff;
    color: black;
    border: 0 !important;
}
input:focus{
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}
.login_btn{
    color: white;
    background-color: #12d0ff;
}
.login_btn:hover{
    color: black;
    background-color: white;
}